{% extends "base.html" %}
{% block title %}Networks - mkube Dashboard{% endblock %}
{% block nav_networks %} active{% endblock %}
{% block content %}
<h2>Networks</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Bridge</th>
            <th>CIDR</th>
            <th>Gateway</th>
            <th>DNS Zone</th>
            <th>IPAM Range</th>
            <th>External DNS</th>
        </tr>
    </thead>
    <tbody>
    {% for net in networks %}
    <tr>
        <td><a href="/networks/{{ net.name }}">{{ net.name }}</a></td>
        <td>{{ net.bridge }}</td>
        <td class="mono">{{ net.cidr }}</td>
        <td class="mono">{{ net.gateway }}</td>
        <td>{{ net.dns_zone }}</td>
        <td class="mono">{{ net.ipam_start }} - {{ net.ipam_end }}</td>
        <td>
            {% if net.external_dns %}
            <span class="badge badge-warn">External</span>
            {% else %}
            <span class="badge badge-pass">Local</span>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
